.content-1 {
    position: relative;
    background-size:cover;
    background-position: center center;
    padding: 150px 50px;
    @media only screen and (min-width: 1024px)
    {
        padding: 150px 100px;
    }

    .shape1 {
        width: 100%;
        position: absolute;
        top:-70px;
        left: 0;
        max-height: 100px;
        @media only screen and (max-width: 700px)
        {
            top:-50px;
        }
    }

    .shape2 {
        width: 100%;
        position: absolute;
        bottom:0;
        left: 0;
        max-height: 100px;
    }

    .container {
        max-width: 300px;
        text-align: center;
        margin: auto;
        @media only screen and (min-width: 768px) {
            text-align: left;
            margin: 0;
        }

        .title {
            text-transform: uppercase;
            margin-bottom: 40px;

            h1 {
                font-size: 50px;
                color: #deb37e;
                text-shadow: 2px -2px 5px #808080;
                font-weight: 900;
                letter-spacing: 3px;
            }
            
            h4 {
                color: #ffffff;
                text-shadow: 4px -2px 5px #808080;
                letter-spacing: 3px;
                @media only screen and (min-width: 768px)
                {
                    color: #54524f;
                    text-shadow: none;
                }
            }
        }
        .button {

            a {
                text-decoration: none;
                color: #54524f;
                padding: 6px 20px;
                font-weight: 900;
                font-size: 14px;
                text-transform: uppercase;
                background-color: #ffffff;
                border-radius: 20px;
                letter-spacing: 1px; 
                transition: 0.5s; 
            }
            a:hover {
                color: #ffffff;
                background-color: #54524f; 
            }
        }
        
        .text {
            margin-top: 20px;
            color: #ffffff;
            text-shadow: 4px -2px 5px #808080;
            letter-spacing: 1px;
            @media only screen and (min-width: 768px)
            {
                color: #54524f;
                text-shadow: none;
            }
        }
    }
}