.content-7 {
    position: relative;
    text-align: center;
    background-color: #deb37e;
    padding: 220px 40px 180px 40px;
    @media only screen and (min-width: 768px) {
        padding: 250px 40px 210px 40px;
    }

    img {
        position: absolute;
        width: 100%;
        left: 0;
        max-height: 150px;
    }

    .shape1 {
        top: 0;
    }

    .shape2 {
        bottom: 0;
        transform: translate(0,50%);
    }

    .container {
        max-width: 500px;
        margin: auto;

        p {
            color: #54524f;
            margin: 30px 0 40px 0;
        }

        p:first-child {
            color: #ffffff;
            letter-spacing: 3px;
            font-weight: 900;
            font-size: 40px;
            margin: 0;
        }

        .input {
            display: flex;
            justify-content: center;
            align-items: center;

            input  {
                outline: none;
                color: #54524f;
                border: none;
                border-radius: 20px;
                font-weight: 600;
                letter-spacing: 0.5px;
                padding: 10px 20px;
                position: relative;
                left: 10px;
                flex: 0.75;
            }

            button {
                background-color: #54524f;
                outline: none;
                text-transform: uppercase;
                color: #ffffff;
                border: none;
                border-radius: 20px;
                font-weight: 600;
                letter-spacing: 0.5px;
                padding: 10px 20px;
                position: relative;
                right: 10px;
                flex: 0.25;
            }
        }
    }
}