* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;

    .global {

        .header {
        }

        .content {
            padding-top: 113px;
        }

        .footer {
        } 
    }
}